{% extends 'shablon.html' %}

{% block title %}
    Фанаты УНИКС
{% endblock %}

{% block body %}
    <div id="carouselExampleCaptions" class="carousel slide" style="max-width: 800px; margin-left: auto;margin-right: auto;margin-top: 50px">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" >
        <div class="carousel-item active">
          <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Funics.ru%2F&psig=AOvVaw189BDLSf6P98dOxwyrGSDG&ust=1731087022271000&source=images&cd=vfe&opi=89978449&ved=0CBcQjhxqFwoTCIDtnO_fyokDFQAAAAAdAAAAABAE"><img src="https://img.youtube.com/vi/7nrzhY7RUyE/mqdefault.jpg" class="d-block w-100" alt="Подготовка к сезону" ></a>
          <div class="carousel-caption d-none d-md-block">
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Funics.ru%2F&psig=AOvVaw189BDLSf6P98dOxwyrGSDG&ust=1731087022271000&source=images&cd=vfe&opi=89978449&ved=0CBcQjhxqFwoTCIDtnO_fyokDFQAAAAAdAAAAABAK"><img src="https://img.youtube.com/vi/vs272FvWf1Y/mqdefault.jpg" class="d-block w-100" alt="Хайлайты"></a>
          <div class="carousel-caption d-none d-md-block">
          <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Funics.ru%2Fmedia%2Fphoto%2F&psig=AOvVaw189BDLSf6P98dOxwyrGSDG&ust=1731087022271000&source=images&cd=vfe&opi=89978449&ved=0CBcQjhxqFwoTCIDtnO_fyokDFQAAAAAdAAAAABAS"><img src="https://unics.ru/upload/resize_cache/iblock/09b/404_270_2/rg8rx6u4v6uz403g3vc44m5g1y1pm9lz.jpg" class="d-block w-100" alt="..."></a>
          <div class="carousel-caption d-none d-md-block">
            <p>ФОТОАЛЬБОМ</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
      </button>
    </div>
{% endblock %}